<div class="tw-h-screen tw-flex tw-flex-col">
    <header class="tw-flex-shrink-0 tw-h-28 tw-flex tw-items-center tw-justify-center">
        <h1 class="tw-text-center tw-text-5xl">{{ 'Este es el header' }}</h1>
    </header>
    <div class="tw-flex tw-flex-1">
        <app-sidebar [items]="items" />
        <main class="tw-w-full md:tw-w-2/3 tw-p-8">
            <router-outlet />
        </main>
    </div>
    <footer class="tw-block md:tw-hidden">
        <app-mobile-navbar [items]="items" />
    </footer>
</div>