<main>
  <h1>Sobre mí</h1>
  <p-panel header="Quien soy?">
    <div class="tw-text-justify">
      <p>
        Mi nombre completo es Miguel Angel Hernandez Jimenez, soy un <strong>Desarrollador de Software</strong> especializado en la stack <strong>MEAN</strong>.
      </p>
      <p>
        Soy muy comprometido, cuando tengo un objetivo no lo dejo de lado hasta completarlo. Aunque esto a veces me lleve mas tiempo del esperado, prefiero tomar ese tiempo y hacerlo bien.
      </p>
      <p>
        No voy a mentir diciendo que soy un genio y que tengo todas las respuestas o soluciones. Pero eso jamas me ha impedido cumplir con mi trabajo, pues en tanto tenga la capacidad de aprender algo nuevo, puedo resolver el problema que se me ponga en frente.
      </p>
    </div>
  </p-panel>
</main>
