<ng-template #sidebarContent>
  <div class="tw-h-full tw-flex tw-flex-col tw-justify-between md:tw-justify-center">
    <ul class="tw-list-none tw-flex tw-flex-col tw-gap-2 tw-pl-0 tw-min-w-[320px] tw-w-1/2 tw-max-w-md">
      @for (item of items; track $index) {
      <li>
        <a
          class="tw-group tw-border-2 tw-border-solid tw-border-black/5 tw-text-black/50 dark:tw-text-blue-500 tw-rounded-lg hover:tw-backdrop-blur-xl hover:tw-text-black hover:tw-bg-black/5 hover:tw-scale-105 hover:tw-rounded-2xl tw-duration-300 tw-ease-in-out tw-no-underline tw-flex tw-gap-4 tw-items-center tw-px-4 tw-py-4 tw-cursor-pointer"
          (click)="onItemClick(item)">
          <i [ngClass]="item.icon"></i>
          <span class="tw-font-bold tw-text-xl group-hover:tw-translate-x-8 tw-duration-300 tw-ease-in-out">
            {{ item.label! | translate }}
          </span>
        </a>
      </li>
      }
    </ul>
    <div class="tw-flex tw-items-center tw-justify-evenly tw-w-full lg:tw-hidden">
      <p-dropdown
        appendTo="body"
        [(ngModel)]="selectedLanguage"
        [options]="availableLanguages"
        [placeholder]="'Select language'"
        (onChange)="switchLanguage($event.value)"
        optionValue="value" />
      <app-custom-darkmode-switch />
    </div>
  </div>
</ng-template>

<p-sidebar
  class="lg:tw-hidden"
  [(visible)]="visible"
  (onHide)="onHide()"
  styleClass="tw-w-fit">
  <ng-container *ngTemplateOutlet="sidebarContent" />
</p-sidebar>

<aside class="tw-h-full tw-w-1/3 tw-min-w-[366px] tw-hidden lg:tw-flex tw-flex-col tw-gap-10 tw-justify-center tw-items-center tw-px-8 tw-bg-white dark:tw-bg-[#020617]">
  <ng-container *ngTemplateOutlet="sidebarContent" />
</aside>
