@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    background-color: #000;
    color: #FFF;
}