@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  // background-color: #0a0a0a;
  // color: #fff;
}

:root {
  --font-family: "Montserrat";
}