@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html.dark {
  background-color: #020617;
  color: #e5e7eb;
}

:root {
  --font-family: "Montserrat";
  interpolate-size: allow-keywords;
}