@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html.tw-dark {
  background-color: #020617;
  color: #e5e7eb;
}

:root {
  --font-family: "Montserrat";
  --ripple-x: 50vw;
  --ripple-y: 50vh;
  interpolate-size: allow-keywords;
}

html {
  background-color: #f9fafb;  /* fondo claro */
  color: #020617;
  transition:
    background-color 0.35s ease,
    color 0.35s ease;
}

html.tw-dark {
  background-color: #020617;  /* fondo dark */
  color: #e5e7eb;
}

/* Ripple usando ::before */
html.theme-ripple::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 99999;
  background-color: var(--ripple-color);
  clip-path: circle(0 at var(--ripple-x) var(--ripple-y));
  opacity: 0.6;
  animation: theme-ripple-expand 0.55s ease-out forwards;
}

@keyframes theme-ripple-expand {
  from {
    clip-path: circle(0 at var(--ripple-x) var(--ripple-y));
    opacity: 0.6;
  }
  to {
    clip-path: circle(140vmax at var(--ripple-x) var(--ripple-y));
    opacity: 0;
  }
}

.glow-overlay {
  --glow-size: 30rem;
  --glow-opacity: 0;
  --glow-color: rgba(255, 0, 80, 0.3);

  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 0;

  background: var(--glow-color);

  mask-image: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    white,
    transparent 60%
  );

  opacity: var(--glow-opacity);

  animation: hue-rotate-glow 8s linear infinite;
  mix-blend-mode: screen;
}

@keyframes hue-rotate-glow {
  0%   { filter: hue-rotate(0deg) blur(80px); }
  100% { filter: hue-rotate(360deg) blur(80px); }
}

@media (hover: none) and (pointer: coarse) {
  .glow-overlay {
    display: none !important;
  }
}
